openapi: 3.0.3
info:
  title: PayJunction API
  version: '1.0.0'
  description: |-
    OpenAPI specification for the PayJunction API, including endpoints for transactions, customers, recurring payments, batches, refunds, and surcharges.
  contact:
    name: PayJunction Support
    url: https://developer.payjunction.com/hc/en-us
servers:
  - url: https://api.payjunction.com
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    CreditCard:
      type: object
      properties:
        number:
          type: string
        expiration_month:
          type: string
        expiration_year:
          type: string
        masked_number:
          type: string
    Address:
      type: object
      properties:
        name:
          type: string
        street_address:
          type: string
        street_address2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
    Customer:
      type: object
      properties:
        customer_id:
          type: string
        credit_card:
          $ref: '#/components/schemas/CreditCard'
        billing_address:
          $ref: '#/components/schemas/Address'
        shipping_address:
          $ref: '#/components/schemas/Address'
        email:
          type: string
        phone:
          type: string
        fax:
          type: string
    Transaction:
      type: object
      properties:
        transaction_id:
          type: string
        amount:
          type: number
        transaction_type:
          type: string
        description:
          type: string
        invoice_id:
          type: string
        billing_address:
          $ref: '#/components/schemas/Address'
        shipping_address:
          $ref: '#/components/schemas/Address'
        customer_id:
          type: string
        status_code:
          type: string
        status_message:
          type: string
        created:
          type: string
        settled:
          type: string
    RecurringPayment:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        customer_id:
          type: string
        frequency:
          type: string
        start_date:
          type: string
        total_count:
          type: string
        transaction_type:
          type: string
        description:
          type: string
    Batch:
      type: object
      properties:
        number:
          type: string
        created:
          type: string
        transaction_count:
          type: integer
        net_amount:
          type: number
        sales_count:
          type: integer
        sales_amount:
          type: number
        refund_count:
          type: integer
        refund_amount:
          type: number
    Refund:
      type: object
      properties:
        refund_id:
          type: string
        transaction_id:
          type: string
        amount:
          type: number
        status:
          type: string
        created:
          type: string
    Surcharge:
      type: object
      properties:
        surcharge_id:
          type: string
        transaction_id:
          type: string
        amount:
          type: number
        description:
          type: string

paths:
  /transactions:
    get:
      tags: [Transactions]
      summary: List transactions
      operationId: listTransactions
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
    post:
      tags: [Transactions]
      summary: Create a transaction
      operationId: createTransaction
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '201':
          description: Transaction created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /transactions/{id}:
    get:
      tags: [Transactions]
      summary: Get transaction by ID
      operationId: getTransactionById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
    put:
      tags: [Transactions]
      summary: Update a transaction
      operationId: updateTransaction
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
      responses:
        '200':
          description: Transaction updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
    delete:
      tags: [Transactions]
      summary: Delete a transaction
      operationId: deleteTransaction
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '204':
          description: Transaction deleted
  /customers:
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
    post:
      tags: [Customers]
      summary: Create a customer
      operationId: createCustomer
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      operationId: getCustomerById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    put:
      tags: [Customers]
      summary: Update a customer
      operationId: updateCustomer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
    delete:
      tags: [Customers]
      summary: Delete a customer
      operationId: deleteCustomer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '204':
          description: Customer deleted
  /recurring-payments:
    get:
      tags: [RecurringPayments]
      summary: List recurring payments
      operationId: listRecurringPayments
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of recurring payments
          content:
            application/json:
              schema:
                type: object
                properties:
                  recurring_payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecurringPayment'
    post:
      tags: [RecurringPayments]
      summary: Create a recurring payment
      operationId: createRecurringPayment
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringPayment'
      responses:
        '201':
          description: Recurring payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
  /recurring-payments/{id}:
    get:
      tags: [RecurringPayments]
      summary: Get recurring payment by ID
      operationId: getRecurringPaymentById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Recurring payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
    put:
      tags: [RecurringPayments]
      summary: Update a recurring payment
      operationId: updateRecurringPayment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringPayment'
      responses:
        '200':
          description: Recurring payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPayment'
    delete:
      tags: [RecurringPayments]
      summary: Delete a recurring payment
      operationId: deleteRecurringPayment
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '204':
          description: Recurring payment deleted
  /batches:
    get:
      tags: [Batches]
      summary: List batches
      operationId: listBatches
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of batches
          content:
            application/json:
              schema:
                type: object
                properties:
                  batches:
                    type: array
                    items:
                      $ref: '#/components/schemas/Batch'
  /batches/{id}:
    get:
      tags: [Batches]
      summary: Get batch by ID
      operationId: getBatchById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Batch details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
  /refunds:
    post:
      tags: [Refunds]
      summary: Initiate a refund
      operationId: createRefund
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refund'
      responses:
        '201':
          description: Refund initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
  /refunds/{id}:
    get:
      tags: [Refunds]
      summary: Get refund by ID
      operationId: getRefundById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Refund details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
  /surcharges:
    get:
      tags: [Surcharges]
      summary: List surcharges
      operationId: listSurcharges
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: A list of surcharges
          content:
            application/json:
              schema:
                type: object
                properties:
                  surcharges:
                    type: array
                    items:
                      $ref: '#/components/schemas/Surcharge'
  /surcharges/{id}:
    get:
      tags: [Surcharges]
      summary: Get surcharge by ID
      operationId: getSurchargeById
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Surcharge details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Surcharge' 